<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Express App</title>
  </head>
  <body>
    <header><%-include('./partials/header') %></header>
    <main>
      <div class="home-container">
        <div class="home-left-container">
          <h1 class="title">Software Develloper</h1>
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eius
            at cupiditate sint eum dolore obcaecati doloribus alias quis ipsa,
            exercitationem nam? Voluptas commodi aut atque! Nostrum beatae
            repudiandae porro!
          </p>
          <button class="discover-btn">Discover business</button>
        </div>
        <div class="image-container">
          <img src="/images/my-profile.jpeg" alt="profile" />
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
